/* Overwriting the styles of bootstrap */
/* All the custome classnames will start with ax */

/* -------- Nav Bar ----------------------------- */

.amNavbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #383b4a;
  border-radius: 0px;
  border-color: transparent;
  margin-bottom: 30px;
}

/* for home button */
.navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-nav>li>a:focus {
  color: white;
  margin: 0 5px;
}

/* for sign in button */
.navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: #474b5b;
  border-radius: 7px;
  margin: 0 5px;
}

/* ----- for about link ------ */
.navbar-nav>.open>a, .navbar-nav>.open>a:focus,
.navbar-nav>.open>a:hover {
  color: white;
  background-color: #474b5b;
  border-radius: 7px;
}

/* ----- for navigation links ------ */
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus {
  color: white;
  font-weight: bold;
  background-color: #5b5e6f75;
  border-radius: 7px;
  margin: 0 5px;
}

.navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background-color: #5b5e6f75;
  border-radius: 7px;
  margin: 0 5px;
}
